mixin icon(icon, width=undefined, height=width)
    svg(class=`icon-${icon}` width=width, height=height)
        use(xlink:href=symbolsInject ? `#${icon}` : `${PATH}assets/img/svg-symbols.svg#${icon}`)
