mixin Head(data)
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='MobileOptimized', content='320')
    meta(name='HandheldFriendly' content='True')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title=page.title ? page.title : data.title
    meta(name='description', content=data.description)
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='application-name', content=data.description)
    meta(name='apple-mobile-web-app-title', content=page.title ? page.title : data.title)
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    block styles
        each item in concat.css
            link(rel='stylesheet', href=`${staticPath.css}/${item.name}`)&attributes(item.props)
        link(rel='stylesheet', href=`${staticPath.css}/vendor.css`)
        link(rel='stylesheet', href=`${staticPath.css}/main.css`)
    link(rel="apple-touch-icon" sizes="57x57" href=`${staticPath.img}/favicons/apple-icon-57x57.png`)
    link(rel="apple-touch-icon" sizes="60x60" href=`${staticPath.img}/favicons/apple-icon-60x60.png`)
    link(rel="apple-touch-icon" sizes="72x72" href=`${staticPath.img}/favicons/apple-icon-72x72.png`)
    link(rel="apple-touch-icon" sizes="76x76" href=`${staticPath.img}/favicons/apple-icon-76x76.png`)
    link(rel="apple-touch-icon" sizes="114x114" href=`${staticPath.img}/favicons/apple-icon-114x114.png`)
    link(rel="apple-touch-icon" sizes="120x120" href=`${staticPath.img}/favicons/apple-icon-120x120.png`)
    link(rel="apple-touch-icon" sizes="144x144" href=`${staticPath.img}/favicons/apple-icon-144x144.png`)
    link(rel="apple-touch-icon" sizes="152x152" href=`${staticPath.img}/favicons/apple-icon-152x152.png`)
    link(rel="apple-touch-icon" sizes="180x180" href=`${staticPath.img}/favicons/apple-icon-180x180.png`)
    link(rel="icon" type="image/png" sizes="192x192" href=`${staticPath.img}/favicons/android-icon-192x192.png`)
    link(rel="icon" type="image/png" sizes="32x32" href=`${staticPath.img}/favicons/favicon-32x32.png`)
    link(rel="icon" type="image/png" sizes="96x96" href=`${staticPath.img}/favicons/favicon-96x96.png`)
    link(rel="icon" type="image/png" sizes="16x16" href=`${staticPath.img}/favicons/favicon-16x16.png`)
    link(rel="manifest" href=`${staticPath.img}/favicons/manifest.json`)
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
